@use '../../variables.scss' as *;

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 $padding-base;
    margin: $margin-base;
}