@use '../../variables' as *;

.language-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(3rem, 100%, 5rem);
    min-width: 3rem;
    height: clamp(1rem, 100%, 2rem);
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: $font-size-small;
    font-weight: bold;
    color: $color-secondary-dark;
    border: solid 1px;
    transition: all 0.3s;

    &:hover {
        color: #fff;
        background-color: var(--hover-color);
    }

    p {
        font-size: clamp($font-size-small, 100%, 1rem);
        font-weight: bold;
        padding: 0rem 0.5rem 0 0.5rem;
        color: $color-secondary-dark;
    }

    body.light & {
        color: #fff;
        background-color: var(--hover-color);
    }
}